# <div style="text-align: center;">Pandas</div>

<h1>Importing Libraries

In [7]:
import numpy as np
import pandas as pd

# Reading Data

In [9]:
df=pd.read_csv("Weather_data.csv")
df
#df=pd.read_csv(r'Desktop/Python Scripts/Class Lectures/Lecture-08 (Pandas)/Weather_data.csv')

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/12 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/12 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/12 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/12 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/12 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

# Analyze DataFrames

In [16]:
df.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/12 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/12 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/12 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/12 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/12 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [20]:
df.head(10)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/12 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/12 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/12 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/12 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/12 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,1/1/12 5:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,1/1/12 6:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,1/1/12 7:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,1/1/12 8:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,1/1/12 9:00,-1.3,-3.1,88,15,4.0,101.20,Fog

In [24]:
df.tail(10)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
8774,12/31/2012 14:00,-3.4,-5.7,84,6,11.3,100.57,Snow
8775,12/31/2012 15:00,-2.3,-4.6,84,9,9.7,100.47,Snow
8776,12/31/2012 16:00,-1.4,-4.0,82,13,12.9,100.40,Snow
8777,12/31/2012 17:00,-1.1,-3.3,85,19,9.7,100.30,Snow
8778,12/31/2012 18:00,-1.3,-3.1,88,17,9.7,100.19,Snow
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [26]:
df.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [30]:
df.shape #row, column

(8784, 8)

In [34]:
df.describe()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

![](Describe_dataset.png)

# Find Nulls values

In [40]:
df.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [42]:
df.notnull().sum()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

In [44]:
df.count()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

# Getting Unique values of Weather

In [46]:
df["Weather"].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [48]:
df["Visibility_km"].unique()

array([ 8. ,  4. ,  4.8,  6.4,  1.2, 12.9, 16.1, 25. , 19.3, 24.1,  9.7,
       11.3, 48.3,  3.2,  2.8,  2.4,  2. ,  0.8,  0.6,  1. ,  1.6,  3.6,
        0.2,  0.4])

In [52]:
df["Visibility_km"].value_counts()

Visibility_km
25.0    3324
48.3    2014
24.1    1921
19.3     281
16.1     224
9.7      181
12.9     174
6.4      129
8.0      122
4.8       79
4.0       55
2.4       50
3.2       42
11.3      36
1.2       28
2.0       28
1.6       25
0.6       16
2.8       15
1.0       11
3.6       11
0.2        8
0.8        7
0.4        3
Name: count, dtype: int64

# Getting Unique values of Weather with their Count

In [50]:
df["Weather"].value_counts()

Weather
Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: count, dtype: int64

# Getting all unique values for each col

In [54]:
df.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

# Find all unique values in "Wind speed" Column

# Find num of times when the "Weather is exactly Clear"

In [60]:
df["Weather"]=="Clear"

0       False
1       False
2       False
3       False
4       False
        ...
8779    False
8780    False
8781    False
8782    False
8783    False
Name: Weather, Length: 8784, dtype: bool

In [13]:
df[df["Weather"]=="Clear"]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/12 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/12 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/12 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/12 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/12 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

In [15]:
df[df["Weather"]=="Clear"].shape

(1326, 8)

# Find num of times when the "Wind Speed" was exactly 4km/h

In [31]:
df[df["Wind Speed_km/h"]==4].shape

(474, 8)

# Rename the column name 'Weather' to 'Weather_Conditions'

In [33]:
df.rename(columns={"Weather":"Weather_Conditions"})

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Conditions
0,1/1/12 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/12 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/12 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/12 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/12 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

# Find mean of "Visbility"

In [37]:
df["Visibility_km"].mean()

27.664446721311478

In [39]:
df["Press_kPa"].std()

0.8440047459486474

# Find standard Deviation of 'Pressure'

![](standard_deviation.png)

# Find Variance of 'Relative Humidity'

![](Variance.png)

**Standar Deviation vs Variance**

Standard deviation and variance are **both measures of how spread out data is**, but they **differ in how they are calculated and what units they use**. Variance is the average of the squared differences from the mean, while standard deviation is the square root of the variance. **Standard deviation is expressed in the same units as the original data**, making it easier to interpret, while **variance is expressed in squared units.**

# Find all instances when 'Snow' was recorded

<h4>Find Exact 'Snow' Vlaues

# Find all recods that Contains 'Snow'

# Find all instances when "Wind Speed is above 20"and visibility is 25

In [43]:
df["Wind Speed_km/h"]>20

0       False
1       False
2       False
3       False
4       False
        ...
8779     True
8780     True
8781     True
8782     True
8783     True
Name: Wind Speed_km/h, Length: 8784, dtype: bool

In [57]:
df[df["Wind Speed_km/h"]>20]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
15,1/1/12 15:00,1.8,-0.4,85,22,6.4,100.07,Fog
22,1/1/12 22:00,4.4,1.9,84,24,19.3,99.32,Rain Showers
23,1/1/12 23:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,1/2/12 0:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,1/2/12 1:00,4.6,0.0,72,39,25.0,99.26,Cloudy
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [59]:
df[df["Visibility_km"]==25]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
20,1/1/12 20:00,3.2,1.3,87,19,25.0,99.50,Cloudy
21,1/1/12 21:00,4.0,1.7,85,20,25.0,99.39,Cloudy
23,1/1/12 23:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,1/2/12 0:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,1/2/12 1:00,4.6,0.0,72,39,25.0,99.26,Cloudy
...,...,...,...,...,...,...,...,...
8762,12/31/2012 2:00,-10.1,-13.4,77,9,25.0,101.45,Cloudy
8763,12/31/2012 3:00,-11.8,-14.4,81,6,25.0,101.42,Mostly Cloudy
8764,12/31/2012 4:00,-10.5,-12.8,83,11,25.0,101.34,Cloudy
8765,12/31/2012 5:00,-10.2,-12.4,84,6,25.0,101.28,Cloudy
8766,12/31/2012 6:00,-9.7,-11.7,85,4,25.0,101.23,Cloudy

In [55]:
df[(df["Wind Speed_km/h"]>20) & (df["Visibility_km"]==25)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
23,1/1/12 23:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,1/2/12 0:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,1/2/12 1:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,1/2/12 2:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,1/2/12 3:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
...,...,...,...,...,...,...,...,...
8754,12/30/2012 18:00,-12.6,-16.0,76,24,25.0,101.36,Mainly Clear
8755,12/30/2012 19:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear
8759,12/30/2012 23:00,-12.1,-15.1,78,28,25.0,101.52,Mostly Cloudy
8760,12/31/2012 0:00,-11.1,-14.4,77,26,25.0,101.51,Cloudy

# Find mean value of each col vs each 'Weather condition'

# Find min,max value of each vol against each 'Weather Condition'

# Show all records where 'Weather Conditions' is 'Fog'

# Find all instances when Weather_Conditions is Clear or Visibility is above 40

# Find all instances when ("Weather_Conditions" is "Clear" and Relative is greater than '50' )or visibility is above 40

In [63]:
df[((df["Weather"]=="Clear") & (df["Rel Hum_%"]>50)) | (df["Visibility_km"]>40)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
106,1/5/12 10:00,-6.0,-10.0,73,17,48.3,100.45,Mainly Clear
107,1/5/12 11:00,-5.6,-10.2,70,22,48.3,100.41,Mainly Clear
108,1/5/12 12:00,-4.7,-9.6,69,20,48.3,100.38,Mainly Clear
109,1/5/12 13:00,-4.4,-9.7,66,26,48.3,100.40,Mainly Clear
110,1/5/12 14:00,-5.1,-10.7,65,22,48.3,100.46,Mainly Clear
...,...,...,...,...,...,...,...,...
8749,12/30/2012 13:00,-12.4,-16.2,73,37,48.3,100.92,Mostly Cloudy
8750,12/30/2012 14:00,-11.8,-16.1,70,37,48.3,100.96,Mainly Clear
8751,12/30/2012 15:00,-11.3,-15.6,70,32,48.3,101.05,Mainly Clear
8752,12/30/2012 16:00,-11.4,-15.5,72,26,48.3,101.15,Mainly Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

In [67]:
df[((df["Weather"]=="Clear") & (df["Rel Hum_%"]>50)) | (df["Visibility_km"]>40)].shape

(2921, 8)

## References