# Lecture-2

## Course Structure

![](CourseStructure.png)

## Jupyter Notebook

* #### How to create a New folder
* #### How to Create a new Python file(.ipynb extension)
* #### what is kernel
* #### Renaming a Python file
* #### Cell, Create new cell at above and bottom of a cell, its shortcuts(a,b)
* #### Navigation to cell(up down key)
* #### Moving cells up or down(draging or arrows) 
* #### How to run(shift +enter)
* #### Run, new cell, cut, copy, paste, restarting kernel, 
* #### Type of cell(code or markup/html/`H1,H2,H3)
* #### How to edit a markup(double click)
* #### File, Edit, View, Run, kernel, settings tabs and their uses
* #### Table of contents
* #### Different types of run options,run shortcut(Shift+enter)
* #### Different types of kernel options

## Hello World

In [6]:
print("Hello World")

Hello World

In [4]:
print('Hello World')

Hello World

*  Single quatation(' ') or double quotation(" ") is used for string
*  print() function is the output function
*  print() function is used for Python print() function is used to print the specified object to the standard output device (screen)

## Kernel

A Jupyter kernel is a program or the computational engine or the driving force behind the code execution in Jupyter notebooks. It empowers you to execute code in different programming languages such as Python, R, or Julia and instantly view the outcomes within the notebook interface.

## 1.Variables


#### What is variable?
A Python variable is a reserved memory location to store values. In other words, a variable in a python program
gives data to the computer for processing.
We can consider it as a container that can store value or take value directly or from keyboard.

A = 5, B = 6
Here, A and B are two variables.
#### Rules for Python variables:
1. A variable name must start with a letter or the underscore character. (a, name, _name, var)
2. A variable name cannot start with a number. (Iname, 1 _name) (numl, namel, name_ 1)
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and ) (First-name) (First name)
4. Variable names are case-sensitive (age, Age and AGE are three different variables) (Name, name)

#### Some important tips:

* Declare a meaningful variable name instead of a single letter.
* Conscious about the case of the letters. (Both declaration and use)
* Variable name should be related to the problem/ program.

In [8]:
#A = 5, B = 6
#Here, A and B are two variables.

A = 2 #Here = is not equal sign. Its called assignment operator
B = 10
Name = 'Python'
name = "Python" #Both single and double quotation can be used for string

print(A)
print(B)
print(Name)
print(name)

2
10
Python
Python

## Comments

* #### Single line comment using Hash(#)
* #### Multiline commnet using '''____ ''' or """___ """

In [12]:
# It is a single line comment
# pollen chakma

In [ ]:
''' It is a
multiline
text'''

In [ ]:
""" It is also a
multiline 
text """

## 2.Data Types in Python

![](python-data-types.jpg)
![](List-of-Python-Data-Types.webp)
![](Specifier.png)

### type() function
To know the type of a function

In [16]:
A = 2 
B = 23.45
Name = 'Python'

print(A)
print(Name)

print(type(B))
print(type(A))
print(type(name))

2
Python
<class 'float'>
<class 'int'>
<class 'str'>

### Data Type Conversion
Data Types
Data type conversion:
We can change any data types to any data types by giving the type as a function in the start of the previous variable, like the following example.

In [18]:
Precipitation = '1200'
N_Precipitation = int(Precipitation)

print(Precipitation)
print(N_Precipitation)

print(type(Precipitation))
print(type(N_Precipitation))

1200
1200
<class 'str'>
<class 'int'>

In [22]:
Precipitation = 1200
N_Precipitation = float(Precipitation)
S_Precipitation = str(Precipitation)

print(Precipitation)
print(N_Precipitation)

print(type(Precipitation))
print(type(N_Precipitation))
print(type(S_Precipitation))

1200
1200.0
<class 'int'>
<class 'float'>
<class 'str'>

In [24]:
Precipitation = '1200'
N_Precipitation = int(Precipitation)

print(type(Precipitation))
print(type(N_Precipitation))

<class 'str'>
<class 'int'>

In [26]:
Course_title = "Computer Programming-I"
N_Course_title = int(Course_title)

print(type(Course_title))
print(type(N_Course_title))

ValueError: invalid literal for int() with base 10: 'Computer Programming-I'

## Input function
To take input form user, input() function is used to take inputs

In [32]:
num1 = input()
print(num1)

 1

1

In [34]:
name = input("Enter you name") #input function with some instructions
print(name)

Enter you name Pollen

Pollen

In [36]:
name = input("Enter you name") #input function with some instructions
print(name)
print(type(name))

Enter you name pollen

pollen
<class 'str'>

In [ ]:
num1 = input("Input an integer number") #input function with some instructions
print(num1)

In [38]:
num1 = input("Input an integer number")

print(num1)
print(type(num1))

Input an integer number 25

25
<class 'str'>

In [40]:
num2 = (input("Input an float number"))

print((num2))
print(type(num2))

Input an float number 12.4

12.4
<class 'str'>

N.B. By default input function take input as a string. So we neet to convert the type if we want input as integer or float etc.(for further use)

In [42]:
num1 = int(input("Input an integer number"))

print((num1))
print(type(num1))

Input an integer number 12

12
<class 'int'>

In [44]:
num1 = input("Input an integer number")

print((num1))
print(type(num1))

Input an integer number 12

12
<class 'str'>

In [46]:
num2 = float(input("Input an float number"))

print((num2))
print(type(num2))

Input an float number 10.3

10.3
<class 'float'>

In [48]:
num1 = float(input("Input an float number"))
num2 = float(input("Input another float number"))
print(num1)
print(num2)
print(type(num2))

Input an float number 12.3
Input another float number 10.2

12.3
10.2
<class 'float'>

## Multiple input
* input().split() is used. It takes multiple string as input
* map(int, input().split()) is used to imput multiple integer number
* map(float, input().split()) is used to imput multiple float number

In [60]:
A,B,C = input().split()
print(A,B,C)
print(type(A))

 10 20 30

10 20 30
<class 'str'>

In [54]:
A,B,C = input().split()
print(A,B,C)
print(A,"\n",B,"\n",C)

 10 15 20

10 15 20
10
 15
 20

In [ ]:
A,B,C = input("Enter three integer number").split()
print(A,B,C)

In [ ]:
A,B,C = input("Enter three integer number").split()
print(A,B,C)
print(type(A))
print(type(B))
print(type(C))

In [58]:
A,B = map(int, input("Enter two integer value").split())
print(A,B)
print(type(A))
print(type(B))

Enter two integer value 10 20

10 20
<class 'int'>
<class 'int'>

In [66]:
A,B = map(float, input("Enter two integer value").split())
add=A+B
sub=A-B
product=A*B
Div=A/B
print(A,B)
print(add)
print(sub)
print(product)
print(Div)

print(type(product))
print(type(Div))

Enter two integer value 10.5 5.5

10.5 5.5
16.0
5.0
57.75
1.9090909090909092
<class 'float'>
<class 'float'>

### Output function

In [68]:
A,B = map(int, input("Enter two integer value").split())
print(A)
print(B)
print(A,B)

Enter two integer value 10 20

10
20
10 20

In [70]:
A,B = map(int, input("Enter two integer value").split())
print(A)
print(B)
print(A,"\n",B)

Enter two integer value 10 20

10
20
10
 20

In [72]:
A,B = map(int, input("Enter two integer value").split())
C=A+B

print(C)
print(A+B)

Enter two integer value 10 30

40
40

In [78]:
A,B = map(int, input("Enter two integer value").split())
C=A+B

print("The sum of ",A,"and",B,"is",C) #using coma and string, coma an string
# print("The sum of "+A,"and"+B,"is"+C)

Enter two integer value 10 40

The sum of  10 and 40 is 50

In [82]:
A,B = map(int, input("Enter two integer value").split())
C=A+B

print("The sum of %d and %d is %d"%(A,B,C)) #using format specifier

Enter two integer value 10 40

The sum of 10 and 40 is 50

In [88]:
A,B = map(float, input("Enter two integer value").split())
C=A+B
print("The sum of %f and %f is %f"%(A,B,C)) #using format specifier

Enter two integer value 10.2 10.5

The sum of 10.200000 and 10.500000 is 20.700000

In [98]:
#input multiple decimal number
A=10
B = 3

C=A/B
Remainder= A%B
print(Remainder)
print(C)
print(A)

print("The division of %f and %f is %f"%(A,B,C))
print("The division of %.2f and %.2f is %.2f"%(A,B,C)) #using format specifier

1
3.3333333333333335
10
The division of 10.000000 and 3.000000 is 3.333333
The division of 10.00 and 3.00 is 3.33

## Exercise:

1. Create two variables for the precipitation of april and may month. And assign a value of 1200 and 1500 on them respectively

2. print their types

3. Create two new variables and convert the previous variables data type from integer to string

4.Problem: Write a program to convert flow rate from cubic meters per second to liters per minute.

In [2]:
# Input flow rate in m^3/s
flow_rate_m3_s = float(input("Enter flow rate (m^3/s): "))

# Convert to liters per minute
flow_rate_l_min = flow_rate_m3_s * 1000 * 60
print("The flow rate is:", flow_rate_l_min, "liters/minute")

Enter flow rate (m^3/s):  12

The flow rate is: 720000.0 liters/minute

## 3.Operators in Python

![](1.Operators.png)